<nav class="sidebar-nav">


    <a class="sidebar-nav-item active" href="index.html" title="Startseite">Startseite </a> -

    <a class="sidebar-nav-item" href="Impressum.html" title="Impressum">Impressum </a> -

    <a class="sidebar-nav-item" href="Datenschutzerklärung.html" title="Datenschutzerklärung">Datenschutzerklärung </a> -

    <a class="sidebar-nav-item" href="https://ahrensburg.digital/dokumenten/" title="Dokumenten">Technische Dokumentation </a>


</nav>
</div>
<script src="statik/js/bootstrap.bundle.min.js "> </script>
</body>
</html>