{{template "header.html" .}}
<div class="bg-primary text-white">
    <p> ahrensburg.digital
    </p>

    <h1> Blog Eintragen</h1>
</div>
<form>
    <select class="form-select" aria-label="Default select example">
        <option selected>Vorhanden Blog Seiten</option>
{{ range .}}
        <option value="{{ .ID }}">{{ .Titel}}</option>
{{end}}

    </select>
    <input type="submit" value="Löschen">
</form>

<br>
 <form action="http://localhost:8080/formular" method="post">
    Url Eintragen : <input type="text" name="urlSeiten">

<input type="submit">Url Eintragen
</form>
{{template "footer.html" .}}